*
!*/

# track only Lab 3 student source files
!.gitignore
!Cache.h
!Cache.cpp
!Controller.h
!Scheduler.h

# Add in the reports folder for turn-in
!reports/*

# Add in the cache.cpp from piazza as a commented out example
!Cache_example.cpp

# Add the benchmark running script
!runbench

.vscode